# Xcode / Swift Package Manager
.build/
.swiftpm/
*.xcodeproj
*.xcworkspace

# Binaries & local app bundle
/SongTop
/SongTop.app/
/PlanTop
/PlanTop.app/
*.o
*.swiftdeps
*.dia

# OS Generated
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db
